#top {
  width: 800px;
  background-color: #dcc9f4;
  margin: 20px auto;
  text-align: center;
}

.top-child {
  width: 20%;
  background-color: #ffd9df;
  display: inline-block;
}

#middle {
  width: 800px;
  height: 800px;
  padding: 20px;
  margin: 20px auto;
  background-color: #ffd9df;
  position: relative;
}

#middle-child01 {
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
  top: 100px;
  left: 100px;
  position: absolute;
}

#middle-child02 {
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
  top: 300px;
  left: 300px;
  position: absolute;
}
#middle-child03 {
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
  top: 500px;
  left: 500px;
  position:absolute
}

#bottom {
  width: 800px;
  height: 300px;
  background-color: #87ceeb;
  margin: auto;
}
#bottom div {
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
}

#bottom-child02 {
  left: 200px;
  position: relative;
}

#bottom-child03 {
  left: 400px;
  position: relative;
}
