#top {
  width: 800px;
  background-color: #dcc9f4;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-bottom: 30px;

}

.top-child {
  width: 20%;
  background-color: #ffd9df;
  padding: 10px; 0;
  margin-top: 10px;
}

#middle {
  width: 800px;
  height: 800px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffd9df;
  position: relative;
}

#middle-child01 {
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
  top: 100px;
  left: 100px;
  position: absolute;
}

#middle-child02 {
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
  top: 300px;
  left: 300px;
  position: absolute;
}
#middle-child03 {
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
  top: 500px;
  left: 500px;
  position:absolute
}

#bottom {
  width: 800px;
  height: 300px;
  position: relative;
  background-color: #87ceeb;
  margin-top: 20px;
}

#bottom-child01 {
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
  position: relative;
}

#bottom-child02 {
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
  left: 200px;
  position: absolute;
}

#bottom-child03 {
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
  left: 400px;
  position: absolute;
}
